* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(22,1,57);
background: linear-gradient(90deg, rgba(22,1,57,1) 0%, rgba(131,70,238,1) 49%, rgba(6,0,17,1) 100%);
}

.cabecalho {
    background-color: rgba(0, 0, 0, 0.833);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.cabecalho>img {
    height: 80px;
    margin: 15px;

}

.menu>img {
    height: 80px;
    margin: 1px;

}

.menu {
    display: flex;
    align-items: center;
}

.menu>li {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.menu>li>a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
}

.menu>li:hover {
    background-color: rgba(255, 255, 255, 0.17);
}

.botão9 {
    padding: 15px;
    text-decoration: none;
    border-radius: 15px;
    background: rgb(180,142,245);
    background: linear-gradient(90deg, rgba(180,142,245,1) 0%, rgba(131,70,238,1) 49%, rgba(187,164,230,1) 100%);
    border:solid 1px pink;
    margin: 10px;
    color: white;

}
.Botao-footer{
    padding: 15px;
    text-decoration: none;
    border-radius: 15px;
    background: rgb(180,142,245);
    background: linear-gradient(90deg, rgba(180,142,245,1) 0%, rgba(131,70,238,1) 49%, rgba(187,164,230,1) 100%);
    border:solid 1px pink;
    margin: 10px;
    color: white;
}
.botao-footer:hover{
    background-color: blueviolet;
}

a {
    justify-content: space-between;
}

.img {
    background-color: rgba(128, 128, 128, 0);
    padding-bottom: 80px;
}

.principal {
    border: 2px solid black;
}

.u {
    width: 150px;
    margin: 10px;
}
.i{
    width: 30px;
}
.novidades{
    color: rgb(244, 23, 214);
    margin: 25px;
    font-size: 20px;
}
.card-musica{
    display: flex;
    gap: 15px;
    margin: 40px;
    justify-content: space-between;
}

hr{
    background: rgb(119,41,255);
background: linear-gradient(90deg, rgba(119,41,255,1) 0%, rgba(119,41,255,1) 50%, rgba(119,41,255,1) 100%);
height: 10px;
margin: 10px;
}
.e{
    display: flex;
    gap: 15px;
    overflow: scroll;
}
.e::-webkit-scrollbar{
    display: none;
}
p{
    margin: 20px;
    padding: 5px;
    color: aliceblue;
    right: 10px;
}
.j{
    background-image: url(/img/Rectangle\ 9.png);
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100px;
    margin: 60px;

}
.l{
    width: 90px;
    margin: 10px;
   
}
.k{
    width: 80%;
    height: 100px;

}
.Botao-footer{
    height: fit-content;
    padding-bottom: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
